//------------------------- Colors
$black:#111;
$white:#fff;
$red:#c74657;
$blue:#7f9cb4;
$pink: rgb(252,229,239);
$gray-text: rgb(90,87,88);
$gray-bg: #aaa;

$background:#f4f3ee;
$primary-link:#469389;

//------------------------- Elements
$serif:"adobe-caslon-pro",serif;
$sans:'Source Sans Pro', Arial, sans-serif;

//------------------------- Defaulted Mixins
@mixin base-type {
    font-family:$sans;
  	line-height:1.1em;
}

//------------------------- Input Required Mixins
@mixin text-shadow($left, $top, $size, $color) { text-shadow: $left $top $size $color; }
@mixin border-radius($size) { -moz-border-radius: $size; -webkit-border-radius: $size; border-radius: $size; }
@mixin transform($param) { -moz-transform: $param; -webkit-transform: $param; -o-transform: $param; -ms-transform: $param; transform: $param; }
