* { padding:0; margin:0; }

img { display:block; }

.bg-full-size { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-surf { 
    background:#939393 url(https://s3-us-west-1.amazonaws.com/mattdera.com/assets/MattySurf.jpg) no-repeat 0 0 fixed; 
    background-size: cover;
}
.bg-trash { position:relative; }
.bg-trash::after { 
    content:'';
    position:absolute;
    background:#402515 url(https://s3-us-west-1.amazonaws.com/mattdera.com/assets/hugs2.jpg) 0 0 fixed no-repeat; 
    background-size: cover;
    opacity:1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}
.bg-white { background-color:#fff; }

.type { font-family:'Josefin Slab', serif; }
.type-size-1 { font-size:18px; font-weight: 600;  }
.type-size-2 { font-size:36px; font-weight: 600; }
.type-uppercase { text-transform:uppercase; }
.type-center { text-align:center; }

.decorate-none { text-decoration:none; }
.link:hover { opacity: 0.8; }


.color-blk { color:#000; }
.color-white { color:#fff; }

/*   Positioning   */
.inline-block { display:inline-block; }
.block { display:block; }
.list-no-style { list-style:none; padding:0;}
.float-left { float:left; }
.float-right { float:right; }
.margin-auto { display:inline-block; margin:auto; }
.vert-align-center { vertical-align:middle; }
.horz-align-center { text-align: center; }
.clearfix { clear:both; }
.full-width { width:100%; }

.span { display:inline-block; vertical-align:middle }

/*   Padding   */
.pad-20-50 { padding:20px 50px;}
.pad-20 { padding: 20px; }
.pad-lt-rt-15 { padding-left: 15px; padding-right: 15px; }
.pad-rt-30 { padding-right:30px; }

/*   Margin   */
.mar-top-btm-50 { margin-top: 50px; margin-bottom:50px; }
.mar-lft-rt {margin-left: 40px; margin-right: 40px; }
.mar-top-1em7 { margin-top:1.7em; }
/*
margin:top right botton left;
margin: 50px 20px 50px 0px;

margin:all;
margin:50px;

margin:top/bottom left/right;
margin:20px 50px;
*/

/* -------- Cross browser/Device classes ------------- */
/*    this is for mobile   */
.float-right-mobile { margin:inherit auto; }
.margin-auto-mobile { display:block; margin:auto; }

/*    this is for computers   */
@media (min-width: 768px) { 

.float-right-mobile { float:right; }
.margin-auto-mobile { display:inline-block; margin:0; }

}