<header class="wrapper clearfix">
    <div class="superline float">
        <h3 class="float">
            <span><a href="mailto:{{ page.email }}?Subject=Hello%20I%20like%20your%20stuff!">{{ page.email }}</a></span>
            <span class="web-view">&mdash;</span>
            <span>{{ page.location }}</span> 
            <span class="web-view">&mdash;</span>
            <span>{{ page.number }}</span> 
            
            <span class="web-view">&mdash;</span>
            <a href="/index.html">About</a>
            <a href="/resume.html">Resume</a>
        </h3>
    </div>
    
<hr>    
    <div class="callout">{{ page.name }}</div>
</header>
