<header class="wrapper clearfix">
    <div class="superline float">
        <div class="logo float"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path d="M14,7c0-1,0-1-1-1h-2c-1,0-1,0-1,1v2c0,1,0,1,1,1h2c1,0,1,0,1-1V7z"/> <path d="M12,0C5.373,0,0,5.373,0,12c0,6.627,5.373,12,12,12c6.628,0,12-5.373,12-12C24,5.373,18.628,0,12,0z M13,17H7c0,0-1,0-1-1 s0-3,0-3h2v1H7c0,0.413,0.009,2,0.009,2H13v-5h-2v4h-1v-4H7v-1h2V6c0-1,1-1,2-1h2c1,0,2,0,2,1v4h2v1h-3c0,0,0,4,0,5S13,17,13,17z M18,17h-3v-1h2v-1h1V17z"/> </g> </svg></div>
        <h3 class="float">
            <span><a href="mailto:{{ page.email }}?Subject=Hello%20I%20like%20your%20stuff!">{{ page.email }}</a></span>
            <span class="web-view">&mdash;</span>
            <span>{{ page.location }}</span> 
            <span class="web-view">&mdash;</span>
            <span>{{ page.number }}</span> 
        </h3>
    </div>
    
<hr>    
    <h1 class="hero">
        Art Direction & Design
        <div class="callout">{{ page.name }}</div>
    </h1>
</header>