---
layout: default
---
<section class="project {{ page.title }}">
    {% if page.image %}
        <section role="graphic">
            <img src="{{ page.image }}" alt="" title="{{ image }}" class=""><br>
        </section>
    {% elsif page.images %}    
        <section role="gallery">
            <ul>
                {% for page.image in page.images %}
                <li class="media-tag-list">
                    <img class="loadingIMG" data-src="{{ image }}" title="{{ image }}" />
                </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    <section class="columns clear">
        <article>
            <h2>{{ page.title }}</h2>
        </article>
    
        <article class="golden">
            {{ content }}
        </article>
    </section>